#html {
    background-color: rgb(255, 255, 255);
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(234, 224, 224);
    box-shadow: 0px 0px 0px rgb(113, 110, 110);
}

.filter-btn {
    margin: 1rem;
    cursor: pointer;
}

.logo-img {
    width: 100px;
}

.nav-items ul {
    display: flex ;
    list-style: none;
    font-size: 1.2rem;
}

.nav-items ul li {
    padding: 1.5rem;
}

.res-container,
.shimmer-container { 
    display: flex;
    flex-wrap: wrap;
    margin: 5rem;
}

.res-card {
    width: 12.375rem;
    height: 20.5rem;
    border: 1px solid #b2a8a8;
    box-shadow: 1px 1px 2.5px rgb(113, 110, 110);
    background-color: white;
    border-radius: 5px;
    margin: 0.5rem;
    
}

.shimmer-card {
    width: 12.375rem;
    height: 20.5rem;
    background-color: #f0f0f0;
    margin: 3rem;
}

.res-card:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    transform: scale(0.99);
    transform-origin: 50% 50%;
}

.search {
    padding: 0.7rem;
}

.res-logo {
    width: 100%;
    height: 45%;
    object-fit: cover;
}

.res-name,
.res-cuisine,
.res-rating,
.res-eta,
.res-cost {
    padding-left: 0.4rem;
    margin: 0.2rem;
}

.res-cuisine,
.res-rating,
.res-eta,
.res-cost {
   color: rgb(61, 57, 57);
   font-weight: 600;
   margin: 0.3rem;
}

.res-name {
    font-family: "Gilroy_Bold", sans-serif;
    font-weight: 650;
}
 
